@import 'resets', 'variables';

body {
    height: 100vh;
    font-family: $mainFont;
    color: $vibrant-pink;
    @include flex(column, "", "")
}

header {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    background-color: $cream;
    color: darken($vibrant-pink, 5%);
}

main {
    @include flex(row, "", "");
    flex-grow: 1;
    background-color: $cream;
    padding: 1rem;

    .sidebar {
        width: 500px;
        text-align: center;
        border-top: 1px solid $vibrant-pink;
        border-right: 1px solid $medium-pink;
        border-bottom: 1px solid $vibrant-pink;
        border-left: 1px solid $vibrant-pink;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: relative;

        h2 {
            padding: 1rem;
            font-size: 2rem;
            border-bottom: 1px solid $medium-pink;
        }

        .missions-list {
            display: grid;
            padding: .3rem;
            grid-template-rows: repeat(10, 50px);
            row-gap: 5px;

            .active-mission {
                background-color: lighten($pink, 10%);
            }

            li {
                font-size: 1.5rem;
                padding-left: 2rem;
                gap: 10px;
                color: lighten(black, 15%);
                border-radius: 5px;
                position: relative;
                @include flex(row, center, "");

                &:hover {
                    cursor: pointer;
                    background-color: lighten($pink, 10%);

                    .fa-map-pin {
                        transform: rotate(300deg);
                        text-decoration: underline;
                    }

                    p {
                        cursor: pointer;
                        text-decoration: underline;
                    }

                }

                .fa-map-pin {
                    color: darken($vibrant-pink, 15%);
                    transform: rotate(270deg);
                }

                .pinned {
                    transform: rotate(300deg);
                    text-decoration: underline;
                }

                .fa-x {
                    position: absolute;
                    right: 2rem;
                    padding: .3rem .4rem .3rem .4rem;
                    color: darken($vibrant-pink, 25%);
                    border-radius: 25px;
                    font-size: 12px;
                    border: 2px solid $vibrant-pink;

                    &:hover {
                        color: whitesmoke;
                        background-color: $vibrant-pink;
                    }
                }

            }

            
        }

        #add-mission {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            width: 170px;
            border: none;
            border-radius: 5px;
            padding: .5rem;
            font-family: $mainFont;
            font-weight: weight(semi-bold);
            font-size: 1.4rem;
            background-color: $green;
            color: whitesmoke;
            box-shadow: -3px -3px inset lighten($green, 10%);

            &:hover {
                cursor: pointer;
                background-color: lighten($green, 10%);
                box-shadow: -3px -3px inset lighten($green, 5%);
                font-weight: weight(bold);
            }
        }
    }

    .content {
        width: 90%;
        text-align: center;
        position: relative;
        border-top: 1px solid $vibrant-pink;
        border-right: 1px solid $vibrant-pink;
        border-bottom: 1px solid $vibrant-pink;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        @include flex(column, "", "");

        h2 {
            padding: 1rem;
            font-size: 2rem;
            border-bottom: 1px solid $medium-pink;
        }

        .objectives-box {
            height: 100%;
            @include flex(column, center, center);

            .objectives {
                height: 100%;
                width: 100%;
                padding: 1rem;
                color: black;
                display: grid;
                grid-template-rows: repeat(10, 45px);
                row-gap: 5px;
                
                .message {
                    font-size: 24px;
                }

                li {
                    text-align: left;
                    font-size: 1.5rem;
                    border-bottom: 1px solid $pink;
                    letter-spacing: 1.5px;
                }

                .objective-element {
                    padding: .3rem;
                    @include flex(row, center, "");

                    input {
                        width: 0;
                        height: 0;
                        visibility: hidden;
                    }

                    input:checked + label:after {
                        background-color: darken($pink, 10%);
                    }

                    label {
                        width: 30px;
                        height: 30px;
                        position: relative;
                        background-color: darken($cream, 5%);
                        border-radius: 200px;
                        box-shadow: -2px -2px inset darken($cream, 15%), 2px 2px inset darken($cream, 15%);

                        &:hover {
                            cursor: pointer;
                        }

                        &:after {
                            content: "";
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            border-radius: 200px;
                        }
                    }

                    .active-objective {
                        background-color: lighten($pink, 5%);
                    }

                    .objective-box {
                        width: 100%;
                        border-radius: 5px;
                        margin-left: .5rem;
                        position: relative;

                        .obj-textdate-box {
                            padding: .3rem .3rem .3rem .5rem;
                            @include flex(row, center, space-between);
                        }

                        &:hover {
                            cursor: pointer;
                            background-color: lighten($pink, 10%);
                        }

                        .objective-description {
                            position: absolute;
                            left: 0;
                            right: 0;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                            height: 0;
                            visibility: hidden;
                            background-color: $pink;
                            z-index: 3;
                            padding: .5rem;
                            transition: all 0.5s ease;
                            opacity: 0;
                        }

                        .active-objective-description {
                            opacity: 1;
                            
                            transform: translateY(0);
                            height: 50px;
                            visibility: visible;
                            background-color: darken($pink, 5%);
                        }

                    }
                }
            }

            .mission-form,
            .objective-form {
                display: none;
            }

            .show-form {
                display: flex;
            }

            form {
                background-color: $pink;
                margin-top: -100px;
                padding: 1.5rem;
                width: 350px;
                gap: 15px;
                position: absolute;
                border-radius: 15px;
                box-shadow: -3px -3px inset darken($pink, 10%);
                @include flex(column, center, center);
    
                input {
                    font-family: $mainFont;
                    width: 100%;
                    height: 30px;
                    padding-left: 1rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: weight(bold);
                    letter-spacing: 2px;
                }
    
                select {
                    @extend input
                }
    
                button {
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                    font-family: $mainFont;
                    font-size: 1rem;
                    font-weight: weight(semi-bold);
                    height: 35px;
                    color: whitesmoke;
                    background-color: $green;
                    box-shadow: -3px -3px inset lighten($green, 10%);

                    &:hover {
                        cursor: pointer;
                        background-color: lighten($green, 10%);
                        box-shadow: -3px -3px inset lighten($green, 5%);
                        font-weight: weight(bold);
                    }
                }
            }
    
        }

        
        #add-objective {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            width: 170px;
            border: none;
            border-radius: 5px;
            padding: .5rem;
            font-family: $mainFont;
            font-weight: weight(semi-bold);
            font-size: 1.4rem;
            background-color: $green;
            color: whitesmoke;
            box-shadow: -3px -3px inset lighten($green, 10%);

            &:hover {
                cursor: pointer;
                background-color: lighten($green, 10%);
                box-shadow: -3px -3px inset lighten($green, 5%);
                font-weight: weight(bold);
            }
        }
    }
}

footer {
    background-color: black;
    color: whitesmoke;
    padding: .8rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: weight(semi-bold);

    &:hover {
        cursor: default;
    }

    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: $medium-pink;
        }
    }
}